
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background: white;
}

.drag-area{
  border: 2px dashed black;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid black;
}

.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
